<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>footer</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      <footer style="display:flex;justify-content: center;font-size: 18px;margin-top:10px;">
        <p style="text-align:center;">Av. de la liberation (ex 24 Nov) en diagonal de la Maison Schengen - Tél : +243899900151 </p>
      </footer>
    </body>
</html>
